body {
  width: 100%;
  margin: 0 auto; }

h4 {
  color: #EBE964;
  font-size: 4.5em;
  padding-top: 3%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.nav {
  background-color: rgba(78, 101, 136, 0.88);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 2; }
  .nav ul {
    margin-top: 1%; }
  .nav li {
    list-style: none;
    display: inline-block;
    margin-left: 6.8%; }
  .nav a {
    font-size: 2em;
    font-family: Oldtown, fantasy;
    text-decoration: none;
    color: #fff; }

#wrapper-main {
  background-image: url(img/palmtree.jpg);
  background-image: cover;
  background-size: 100% 750px;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  color: #fff; }

#main {
  width: 100%; }
  #main ul {
    display: inline-block;
    margin-top: 10%;
    margin-left: 18%; }
  #main li {
    list-style: none; }
  #main h1 {
    text-transform: uppercase;
    font-size: 3.5em;
    font-family: Brushstroke, fantasy;
    padding-top: 35%; }
  #main h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: Lucida, sans-serif; }
  #main a {
    text-decoration: none; }
  #main li img {
    width: 12%;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    transition-duration: 1.5s;
    opacity: 1; }
  #main li img:first-child {
    opacity: 0; }
  #main li:hover img {
    opacity: 0; }
  #main li:hover img:first-child {
    opacity: 1; }

.container-me {
  width: 100%;
  height: 750px;
  background-color: lightblue; }
  .container-me h4 {
    color: #23719F; }

#me {
  text-align: center; }
  #me ul {
    padding-top: 5%; }
  #me li {
    list-style: none;
    display: inline-block;
    border: 1px solid #fff;
    margin-left: 5%; }
  #me img {
    width: 250px;
    height: 250px; }
  #me .travel {
    color: #2952A0;
    margin-left: 56%;
    margin-top: -6%;
    font-size: 1.2em; }

.aboutMe {
  padding-top: 3%;
  color: #2952A0;
  font-size: 2em;
  font-family: Brushstroke, fantasy;
  width: 50%;
  margin-left: 28%; }

.container-portfolio {
  width: 100%;
  height: 750px;
  background-color: rgba(58, 91, 104, 0.79); }

.ch-grid {
  padding-top: 7%;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%; }

.ch-grid:after {
  clear: both; }

.ch-grid li {
  width: 24%;
  height: 263px;
  padding-right: 1%;
  display: inline-block; }
  .ch-grid li p {
    padding-top: 2%; }
  .ch-grid li h5 {
    padding-top: 2%;
    font-size: 1.2em; }
  .ch-grid li a {
    color: #6C0305;
    font-size: 1.5em; }

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(78, 101, 136, 0.91), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.ch-img-1 {
  background-image: url(img/Jeopardy-Logo.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.ch-img-2 {
  background-image: url(http://33.media.tumblr.com/a4550e4814f02d708f80e45bcf1296d9/tumblr_inline_nm6gm1BtZS1tpacqz.gif);
  background-repeat: no-repeat;
  background-size: cover; }

.ch-img-3 {
  background-image: url(img/hero-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.ch-img-4 {
  background-image: url(https://avatars.githubusercontent.com/u/10949845?v=3);
  background-repeat: no-repeat;
  background-size: cover; }

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden; }

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: 0 30px;
  padding: 65px 0 0 0;
  height: 110px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px rgba(243, 36, 40, 0.88), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s ease-in-out;
  transition: .7s ease-in-out; }

.ch-info h3:hover {
  transform: scale(1.5); }

.ch-info a {
  text-decoration: none; }

.ch-info p {
  color: #D1CBCB;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 1.2em;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif; }

.ch-info p a:hover {
  color: #fff222;
  color: rgba(255, 242, 34, 0.8); }

.ch-item:hover {
  box-shadow: inset 0 0 0 140px rgba(78, 101, 136, 0.91), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1); }

.ch-item:hover .ch-info {
  opacity: 1;
  transform: scale(1); }

.container-skills {
  width: 100%;
  height: 750px;
  background-color: #ADD8E6; }
  .container-skills h4 {
    color: #23719F; }
  .container-skills h6 {
    text-align: center; }
  .container-skills ul {
    font-size: 3em;
    list-style: none;
    display: inline-block;
    padding-top: 2%; }
    .container-skills ul li {
      display: inline-block;
      font-size: 2.5em;
      padding-right: 5%; }
  .container-skills p {
    width: 20%;
    text-align: center;
    padding-left: 42%; }
  .container-skills a {
    text-decoration: none; }
  .container-skills a p {
    font-size: 4em;
    color: #6C0305;
    padding-top: 15px; }
  .container-skills .fa {
    padding-left: 75px; }

.container-contact {
  width: 100%;
  height: 750px;
  background-color: rgba(58, 91, 104, 0.79); }

#connect {
  width: 100%; }
  #connect .fullName {
    padding-top: 2%;
    padding-left: 35%;
    text-transform: uppercase;
    font-size: 3.5em;
    font-family: Brushstroke, fantasy;
    color: #fff; }
  #connect ul {
    margin-left: 35%;
    padding-top: 4%; }
  #connect li {
    list-style: none;
    display: block;
    padding-bottom: 5%; }
  #connect i {
    padding-right: 3%; }
  #connect a {
    color: #ECE8E8;
    text-decoration: none; }
  #connect .fa-lg {
    font-size: 4.5em; }
  #connect .fa-phone {
    color: #FFFF00; }
  #connect .fa-envelope {
    color: #E75A4D; }
  #connect .fa-github {
    color: #000; }
  #connect .fa-linkedin {
    color: #73B9D5; }
